body{
    background-color:lightgrey
}
.inside-box{
    background-color: white;
    padding:50px 2px;
    margin: 30px 5px;
}
.fa{
    color: darkblue;
    font-size: 40px;
}
p{
    font-size: 12px;
}
.box{
    padding:60px 2px
}